* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0029ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0029ff;
}

.fade-in-section:not(:first-child) {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.mainProjectsDiv {
  width: 100%;
  height: 300vh;
  background-color: white;
  /* background-color: #0f0f0f; */
  display: flex;
}

.titleTwo {
  font-family: SuisseIntl-Regular;
  color: #1a1a1a;
  /* color: white; */
  letter-spacing: 0.01em;
  line-height: 1.3;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
  text-decoration: none;
  padding: 0;
  text-indent: 0em;
  border-bottom: none;
  margin-top: -48px;
}

.titleTwo p {
  line-height: 0.8;
  text-align: center;
  margin: 0;
}

.leftMainDiv {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin-top: 824px;
}

.rightMainDiv {
  /* background-color: blueviolet; */
  height: 100vh;
  width: 50%;
  /* margin-top: 50vh; */
  margin-top: 824px;
}

.rightMainDiv canvas {
  /* margin-top: 50vh; */
  /* border: 1px solid black; */
  padding-top: 0 !important;
  z-index: 1 !important;
  position: relative;
}

.worksMainDiv {
  padding-top: 53.5px;
}

.worksGrid {
  display: grid;
  grid-template-rows: 810px 500px 766px;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  grid-row-gap: 100px;
  padding-bottom: 100px;
}

.worksRowBlock1{
  background-color: aqua;
  display: flex;
  column-gap: 79px;
}

.worksRowBlock2{
  background-color: aquamarine;
  display: flex;
    column-gap: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  
}

.worksRowBlock3{
  background-color: chocolate;
  display: flex;
  justify-content: flex-end;

}

.worksBlock1{
  
}

.worksBlock2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
}

.worksBlock2 .figure:first-child{
  grid-area: 1;
}

.worksBlock2 .figure:nth-child(2){
  grid-area: 2 / 3;
  align-self: flex-end;
}

.worksBlock4, .worksBlock5, .worksBlock6 {
  grid-area: 2;
}

.figure {
  text-align: left;
  font-size: smaller;
  text-indent: 0;
  color: black;
}

.figure p span:nth-child(2){
padding-left: 50px;
}


/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
